html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100vh;
}

button:disabled {
  opacity: 0.5;
}

body {
  color: white;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0d1854,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0d1854,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.row {
  flex-direction: row;
  margin-bottom: 100px;
}

button {
  background-color: rgb(236, 77, 127);
  height: 50px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 50px;
}

.button-outline {
  border: 1px solid white;
  height: 10px;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 20px;
}

.input-calendar {
  height: 30px;
  text-align: center;
  font-size: 1.3rem;
}

.container-calendar {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 20px;
  background-color: white !important;
  font-size: 1.3rem;
}

.input-period-length {
  width: 60px;
  font-size: 2rem;
  border-radius: 20px;
  padding: 0px 10px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 30px;
  border: transparent;
}

.label-day {
  font-size: 1.8rem;
  color: #dadada;
}

@media (min-width: 900px) {
  .question {
    padding-top: 120px;
  }
}

.question h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}

.dashboard,
.friend-calendar,
.share-calendar {
  padding-top: 50px;
}

.calendar {
  width: 80%;
  max-width: 1000px;
  margin-bottom: 30px;
}

input.ReactTags__tagInputField {
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  width: 100%;
}

.ReactTags__tags.react-tags-wrapper {
  width: 80%;
  max-width: 400px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  color: black;
  padding: 5px 10px;
  margin-top: -10px;
}
div.ReactTags__suggestions li mark {
  background: none;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  cursor: pointer;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  font-size: 1.2rem;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 5px;
  cursor: move;
  border-radius: 5px;
}

div.ReactTags__selected a.ReactTags__remove {
  margin-left: 5px;
  cursor: pointer;
}

.label-width {
  padding-right: 100px;
}
